.header-container {
    display: grid;
    grid-template-columns: 16px 50px 150px 50px 16px;
    margin-top: 20px;
  }
  
.notification {
    position: absolute;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    top: 2px;
    right: 2px;
}
  
.profile-pic-neumorphism {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 16px 0;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
                -9px -9px 16px rgba(255, 255, 255, 0.5);
}
  
.icon-neumorphism {
    align-self: end;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 20px;
    justify-self: center;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
                -9px -9px 16px rgba(255, 255, 255, 0.5);
}
  
.story {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(to right, red, purple);
}
  
.profile-picture {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 3px solid $gray;
    background: $gray;
}

@import './fav-button';