.photos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
    width: 282px;
}

.photos-container img {
    border-radius: 8px;
    width: 90px;
    height: 90px;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(163, 177, 198, 0.9),
                -2px -2px 5px rgba(255, 255, 255, 0.8);
}